body{
    
    font-family: sans-serif;
}
#h{
    font-size: 40px;
    text-align: center;
}
h3,
#p
{
    text-align: center;
}
button{
    text-align: center;
    margin-left: 45%;
}
ul{
    padding-left: 37%;
}

